<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/order.css" />
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <% if (sellings.length <= 0) {%>
    <h1>Nothing here!</h1>
    <% } else { %>

        <main>
            
            <table>
              <tr>
                <th>product</th>
                <th>customer</th>
                <th>price</th>
                <th>Date</th>
              </tr>
              <% sellings.forEach(selling => { %>
                  <tr>
                    <td><p><%= selling.productName %></p></td>
                    <td><%= selling.buyer %></td>
                    <td><%= selling.productPrice %>$</td>
                    <td><%= selling.createdAt %></td>
                  </tr>
              <% }) %>
            </table>
          </main>
          <% } %>

<%- include('../includes/end.ejs') %>